# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Virtual environments
.venv/
venv/
ENV/
env/
pip-wheel-metadata/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# IDE / Editor
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Build / dist
build/
dist/
*.egg-info/

# Node (if ever used)
node_modules/

postman